<% for(let i = 0; i < 2; i++) { %>
<tr>
    <td>
        <i class="material-icons">close</i>
    </td>
    <td>
        <img src="images/<%=products[i].image%>">
    </td>
    <td class="product-name">
        <a href="/p/<%=products[i].name%>">
            <%=products[i].name%>
        </a>
    </td>
    <td><%=products[i].price%>€</td>
    <td>
        <input type="number" min="0" max="99" value="1">
    </td>
    <td><%=products[i].price%>€</td>
</tr>
<% } %>