<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
</head>

<body>

    <%- include('../partials/navbar'); -%>

    <div class="container products">
        <div class="row">
            <%- include('../components/filter-bar.ejs'); -%>
        </div>
        <div class="row">
            <%- include('../components/product-cards.ejs'); -%>
        </div>
    </div>

    <%- include('../partials/footer'); -%>

    <%- include('../partials/scripts'); -%>

</body>

</html>